<%- include ../partials/header.ejs %>

  <div class="sign-up-form">
    <h3>Sign Up</h3>
    <form action="" method="POST">
      <input type="text" name="name" placeholder="name" required>
      <input type="email" name="email" placeholder="email" required>
      <input type="password" name="password" placeholder="password" required>
      <button style="margin-top:5px">Sign Up!</button>
    </form>
    <p>Existing user? <a href='./login'>Login</a></p>
  </div>



<%- include ../partials/footer.ejs %>
